#carrusel h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: x-large;
    -webkit-text-stroke: 1px black;
    /*para poner el borde negro a la letra*/
    color: white;
}

.slider {
    width: 30%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}