/*barrita para el menu desplegable*/

header label {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
}

.menu {
    /*position: absolute;*/
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    /*top: 50px;
    left: 0;
    width: 70%;
    height: 100vh;
    background: coral;
    
    transform: translateX(-100%);
    transition: all 2s;
    */
}

.menu a {
    /*display: block;*/
    font-size: large;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    border: solid darkblue;
    padding: 7px;
}