footer {
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: darkblue;
}

footer img {
    float: left;
    width: 3%;
    padding-left: 20px;
}

footer h2 {
    color: white;
    padding-left: 80px;
    padding-top: 20px;
    font-size: medium;
}